# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/tmp

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Go
vendor/
/server

# GoReleaser
/dist/
/.spotiflac-cli-src/
__pycache__/
